:root {
    --bg-primary: #201d1d;
    --font-primary: whitesmoke;
    --clr-titles: whitesmoke;
}


.dark-mode {
    background-color: var(--bg-primary);
    /* color: var(--font-primary) */
}
.dark-mode h1 {
    color: whitesmoke !important;
}
.dark-mode .drop-topic,
.dark-mode .drop-sub-topic{
    border: 1px solid var(--font-primary);
    border-bottom: none;
    border-right: none;
}
.dark-mode nav#nav-section-lesson-titles {
    background-color: var(--bg-primary)
}

.dark-mode .topic-title,
.dark-mode h3 {
    color: var(--font-primary) !important;
}
.dark-mode .project-title {
    color: var(--clr-titles) !important;
    /* text-shadow: 1px 1px 0px white; */
}