/* responsive.css */
@media screen and (max-height: 1020px){
    .project img{
        max-height: 50px !important;
        max-width: 50px !important;

    }
    .topics-container >  .project > img {
        min-height: 100px;
    }
}