/* responsive.css */
/* @media screen and (min-height: 860px){ */
@media screen and (max-height: 1221px){
    
    .project img{
        max-height: 50px !important;
        max-width: 50px !important;

    }
    .topics-container >  .project > img {
        min-height: 100px;
    }
    .topics-container > .topic{
        font-size: 1.6rem !important ;
    }
    #youtubeResources>.topics-container .topic {
        font-size: 1.1rem !important ;
        height: 10vh ;   
        width:  20vw ;
        flex-basis: 20%;
    }
    
    .projects-container > .project > .project-title#codeCmdShrtTitle{
    
        font-size: 1rem;

    }
}
@media screen and (min-height:1220px){
    /* *{background: blue !important;} */
    .main-container {
        padding-top: 25% !important;
    }
}