:root {
    --x: 1px;
    --xB: 2px;
    --yB: 2px;
}
.ai-b:focus h3,
.ai-b:active h3,
.ai-b:hover h3,
.js-b:focus h3,
.js-b:active h3,
.js-b:hover h3,
.python-b:focus h3,
.python-b:active h3,
.python-b:hover h3 {
    color: whitesmoke;
    text-shadow: -1px 1px 3px black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 999;
    font-size: 150%;
}
.project:focus,
.project:active {
    outline: none;
    margin-top: 2px !important;
    margin-left: 2px !important;
    transition: all .2s;   
}
.nodeJs-b:focus,
.nodeJs-b:active {
    box-shadow: var(--x) 0 var(--xB) var(--yB) royalblue !important;
    border: 2px solid royalblue !important;
}
.docker-b:focus,
.docker-b:active {
    box-shadow: var(--x) 0 var(--xB) var(--yB) darkslateblue !important;
    border: 2px solid darkslateblue !important;
}

.python-b:focus,
.python-b:active {
    background-color: rgb(147, 112, 216, .4);
    border: 10px;
    font-size: 1.3rem;
}
.python-b:hover{
    box-shadow: var(--x) 0 var(--xB) var(--yB) mediumpurple !important;
    border: 1px solid black;
}
.ai-b:focus,
.ai-b:active {
    box-shadow: var(--x) 0 var(--xB) var(--yB) orangered !important;
    background-color: rgb(255, 69, 0,.4);
    border: 10px;
}

.js-b:focus,
.js-b:active,
.js-b:hover,
.python-b:focus,
.python-b:active,
.python-b:hover {
    border: 2px solid black !important;
}
.js-b:focus,
.js-b:active{
    /* .js-b:hover { */
    box-shadow: var(--x) 0 var(--xB) var(--yB) yellow !important;
    background-color: rgb(255, 255, 0, .3);
    border: 10px;
}
.js-b:hover {box-shadow: var(--x) 0 var(--xB) var(--yB) yellow !important;}