/* layout.css */
header {
    display: flex;
    justify-content: space-between;
}
.main-container > .topics-container {
    display: flex;
    flex-wrap: wrap;
}
.main-container > .topics-container > .topic {
    display: flex;
    flex-direction: column;
}

.topics-container >.project {
    display: flex;
    flex-direction: column;
}
.topic#youtubeResources> {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 1;
    
}
.topic#youtubeResources>.topics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topic#youtubeResources > .topics-container .topic {
    flex-basis: 30%;;
    gap: 10%;
    height: 10vh;
}