/* layout.css */
header {
    display: flex;
    justify-content: space-between;
}
.main-container {
}

.main-container > .topics-container {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* flex-wrap: wrap; */
}
.main-container > .topics-container > .topic {
    display: flex;
    flex-direction: column;
}

.topics-container >.project {
    display: flex;
    flex-direction: column;
}
.topic#youtubeResources>.topics-container {
    display: flex;
    flex-wrap: wrap;
}
.topic#youtubeResources > .topics-container .topic {
    flex-basis: 20%;;
    gap: 10%;
}