/* spacing.css */
body {
    margin: 0 1%;
}
.main-container {
        padding-top: 5%;
}
.main-container > .topics-container > .topic{
    margin-top: 2%;
}
button.drop-down {
    /* padding: 1% 2%; */
}
main {
    margin: 1% 0;
    /* padding-bottom: 20%; */
}

.main-container >.topics-container  {
    margin-left: 0%;
}
a.drop-topic {
    padding: 0;
    padding-left: 2%;
}

.topic>.topics-container>.topic {
    margin: 1%;
}
/* youtube - resources */
#youtubeResourcesSection>.topics-container {
    margin-top: 2.5%;
}
#youtubeResources>.topics-container .topic {
    padding-top: 1%;
    padding-left: 1%;    
}
#aiYoutube {
    padding-top: 2% !important;
    padding-left: 2% !important;    
}

.projects-container>.project {
    /* margin: .5% .5%; */
    
}
.projects-container>.project > .project-title{
    margin-left: 2%;
}