body {
    margin: 0 1%;
}
#aiToolsTopicsContainer{
    margin-left: 2%;
    width: 80%;
}
main {
    margin: 1% 0;
    padding-bottom: 20%;
}

main>.topic {
    margin: 1%;
}
a.drop-topic {
    padding: 0;
    padding-left: 2%;
}
.topics-container>.sub-topic {
    margin: .5% 0;
}
.topics-container>.project {
    margin: .5% .5%
}
.topic>.topics-container>.topic {
    margin: 1%;
}
.drop-sub-topic {
    padding-left: 2.5%;
}
.sub-topic-container>.project {
    margin: 1.5% 1.5%;
    margin-left: 2.5%;
    padding-left: 2.5%;
}
#youtubeResourcesSection>.topics-container {
    margin-top: 2.5%;
}

#youtubeResourcesSection>.topics-container .project {
    height: 8vh;
    padding-top: 1%;
    padding-left: 1%;
    
}
#aiYoutube {
    padding-top: 2% !important;
    padding-left: 2% !important;    
}