/* text.css */
header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#homeH1 {
    text-decoration: none;
}
main>.topic a {
    text-decoration: none;
}
header>.topics-container {
    font-size: 60%;
}
.topics-container > a {
    font-size: 70%;
    text-decoration: none;
}
.drop-sub-topic {
    text-decoration: underline;
}